body {
  min-width: 320px;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.page {
  height: 100%; }

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #000000; }

.content {
  flex: 1 0 auto; }

.page-header {
  padding: 10px 0;
  background-color: #D3CFCF; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  display: flex;
  align-items: center; }

.header__list-item {
  margin-right: 40px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: top left; }
  .header__list-item:last-child {
    margin-right: 0; }

.header__list-item--plant {
  background-image: url("../img/plant.svg"); }

.header__list-item--buyers {
  background-image: url("../img/buyers.svg"); }

.header-phone {
  text-align: center; }

.header-phone__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  margin-top: 0;
  margin-bottom: 10px; }

.header-phone__btn {
  padding: 10px 30px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #f34c57;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  border-radius: 5px; }
  .header-phone__btn:hover {
    color: #ffffff;
    opacity: 0.8; }
  .header-phone__btn:focus {
    outline: none;
    opacity: 0.8; }

.main-screen {
  padding: 50px 0;
  background-color: #ffffff;
  background-image: url("../img/text.png");
  background-repeat: no-repeat;
  background-size: cover; }

.main-screen--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.main-screen__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 35px;
  text-align: center; }
  .main-screen__title span {
    color: #f34c57; }

.main-screen__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  margin-bottom: 50px;
  font-size: 18px;
  text-align: center; }

.main-screen__icons {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  font-size: 16px; }

.main-screen__icons-item {
  margin-bottom: 30px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: top left; }
  .main-screen__icons-item:last-child {
    margin-bottom: 0; }

.main-screen__icons-item--clock {
  background-image: url("../img/clock.svg"); }

.main-screen__icons-item--heart {
  background-image: url("../img/heart.svg"); }

.main-screen__icons-item--granny {
  background-image: url("../img/granny.svg"); }

.main-screen__icons-item--graphic {
  background-image: url("../img/graphic.svg"); }

.form form {
  padding: 20px;
  background-color: #eeecec;
  border-radius: 5px; }

.form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #D3CFCF;
  border-radius: 5px; }

.form__title-number {
  width: 50px;
  height: 50px;
  margin: 0;
  padding-top: 12px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #f34c57;
  border-radius: 100%; }

.form__title-text {
  margin: 0;
  font-size: 14px;
  color: #2f2e2e; }

.form-price {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  text-align: center; }

.form-price--text {
  color: #2f2e2e; }
  .form-price--text span {
    font-weight: 600;
    font-size: 18px; }
  .form-price--text:last-child span {
    color: #f34c57; }

.form__label {
  margin-top: 10px;
  font-size: 14px;
  color: #2f2e2e; }

.form__input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #f2f2f2; }
  .form__input:hover {
    opacity: 0.8; }
  .form__input:focus {
    outline: none;
    opacity: 0.8; }

.form__btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: #ffffff;
  background-color: #f34c57;
  border: none;
  border-radius: 5px; }
  .form__btn:hover {
    color: #ffffff;
    opacity: 0.8; }
  .form__btn:focus {
    outline: none;
    opacity: 0.8; }

.form__text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center; }

.symptoms {
  padding: 70px;
  background-color: #f2f2f2; }

.title {
  font-weight: 700;
  font-size: 30px;
  color: #000000; }
  .title span {
    color: #f34c57; }

.symptoms--wrapper {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr; }

.symptoms__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-column-gap: 100px;
  grid-template-columns: 1fr 1fr; }

.symptoms__list-item {
  padding-left: 50px;
  background-image: url("../img/attention.svg");
  background-repeat: no-repeat;
  background-position: left 1px; }

.symptoms__header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px; }

.symptoms__text {
  width: 420px;
  padding: 10px;
  background-color: #D3CFCF;
  border-radius: 5px; }

.effective {
  margin-top: 70px; }
  .effective .title {
    text-align: center; }

.effective__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }

.effective__item {
  display: flex; }

.effective__item-number {
  align-self: center;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  padding-top: 25px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #f34c57;
  background-repeat: no-repeat;
  background-position: center; }

.effective__item-number--60 {
  background-image: url("../img/60.svg"); }

.effective__item-number--29 {
  background-image: url("../img/29.svg"); }

.effective__item-number--15 {
  background-image: url("../img/15.svg"); }

.effective__description {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 30px;
  background-color: #eeecec;
  border-radius: 5px; }

.effective__description-text span {
  font-weight: 500;
  color: #f34c57; }

.request {
  position: relative;
  display: grid;
  margin-top: 80px;
  grid-column-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr; }
  .request::after {
    content: "";
    position: absolute;
    top: 80px;
    z-index: -1;
    width: 100%;
    height: 320px;
    background-color: #eeecec; }
  .request .form__title {
    padding: 0;
    background-color: transparent; }
  .request .form-price {
    margin-top: 20px; }

.request__info {
  margin-top: 160px;
  margin-left: 30px; }

.request__form {
  margin-top: 100px;
  margin-right: 30px; }

.reasons {
  margin-top: 70px;
  padding: 70px 0 40px;
  background-color: #eeecec; }
  .reasons .title {
    text-align: center; }

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px; }

.reasons__item {
  display: flex;
  flex-direction: column;
  width: 28%;
  margin-bottom: 30px;
  padding-top: 130px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top; }

.reasons__item-header {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px; }

.reasons__item--angry {
  background-image: url("../img/angry.png"); }

.reasons__item--vessel {
  background-image: url("../img/veins.png"); }

.reasons__item--varicose {
  background-image: url("../img/varicos.png"); }

.reasons__item--sugar {
  background-image: url("../img/sugar.png"); }

.reasons__item--weight {
  background-image: url("../img/weight.png"); }

.reasons__item-subheader {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e; }
  .reasons__item-subheader span {
    font-weight: 600;
    color: #f34c57; }

.advantages {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-column-gap: 100px; }
  .advantages .title {
    margin-bottom: 40px; }

.advantages__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  margin-bottom: 20px; }
  .advantages__text span {
    color: #f34c57;
    font-weight: 600; }

.expert {
  margin-top: 70px;
  padding: 70px 0 0;
  background-color: #eeecec; }
  .expert .title {
    margin-bottom: 20px; }
  .expert img {
    margin-top: 40px; }

.expert--wrapper {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 400px 1fr; }

.expert__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e; }
  .expert__text span {
    font-weight: 600;
    color: #f34c57; }

.expert__info {
  margin-top: 30px; }

.expert__info-text {
  margin-bottom: 7px;
  font-weight: 600; }

.ingredients {
  margin-top: 70px; }

.ingredients__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px; }

.ingredients__item {
  width: 48%;
  margin-bottom: 40px;
  padding-left: 120px;
  background-repeat: no-repeat;
  background-position: top left; }
  .ingredients__item:first-child {
    background-image: url("../img/plant.png"); }
  .ingredients__item:nth-child(2) {
    background-image: url("../img/plant2.png"); }
  .ingredients__item:nth-child(3) {
    background-image: url("../img/plant3.png"); }
  .ingredients__item:nth-child(4) {
    background-image: url("../img/plant4.png"); }
  .ingredients__item:nth-child(5) {
    background-image: url("../img/plant5.png"); }

.ingredients__item-header {
  font-size: 18px; }

.ingredients__item-subheader {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e; }

.ingredients__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  font-weight: 600;
  font-size: 18px;
  text-align: center; }
  .ingredients__text span {
    color: #f34c57; }

.testemonials {
  margin-top: 70px;
  padding: 70px 0;
  background-color: #eeecec; }
  .testemonials .title {
    text-align: center; }

.carousel-inner {
  margin-top: 50px; }

.carousel-item {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px; }

.testemonial--wrapper {
  display: flex;
  align-items: center; }

.user-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  margin-left: 20px; }
  .user-info p {
    margin-bottom: 5px; }

.user-info__name {
  margin-bottom: 5px;
  font-weight: 600; }

.testemonial-text {
  margin-top: 20px;
  margin-bottom: 0; }

.prev-icon {
  position: absolute;
  top: 50%;
  left: 45px;
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center; }

.next-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center; }

.using {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 350px; }
  .using .title {
    margin-bottom: 30px; }

.steps {
  padding: 70px 0;
  background-color: #eeecec; }
  .steps .title {
    text-align: center; }

.steps__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2e2e;
  display: grid;
  margin-top: 50px;
  text-align: center;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.steps__item {
  padding-top: 70px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: top center, center bottom, center right; }

.steps__item--envelope {
  background-image: url("../img/envelope.svg"), url("../img/one.svg"), url("../img/arrow1.svg");
  background-position: top center, center bottom, center right; }

.steps__item--consult {
  background-image: url("../img/consult.svg"), url("../img/two.svg"), url("../img/arrow1.svg");
  background-position: top center, center bottom, center right; }

.steps__item--analyze {
  background-image: url("../img/analyze.svg"), url("../img/three.svg"), url("../img/arrow1.svg");
  background-position: top center, center bottom, center right; }

.steps__item--calendar {
  background-image: url("../img/calendar.svg"), url("../img/four.svg"), url("../img/arrow2.svg");
  background-position: top center, center bottom, bottom right; }

.steps__item--result {
  background-image: url("../img/result.svg"), url("../img/eight.svg"); }

.steps__item--doctor {
  background-image: url("../img/doctor.svg"), url("../img/seven.svg"), url("../img/arrow3.svg");
  background-position: top center, center bottom, center left; }

.steps__item--money {
  background-image: url("../img/money.svg"), url("../img/six.svg"), url("../img/arrow3.svg");
  background-position: top center, center bottom, center left; }

.steps__item--delivery {
  background-image: url("../img/delivery.svg"), url("../img/five.svg"), url("../img/arrow3.svg");
  background-position: top center, center bottom, center left; }

.page-footer {
  padding: 30px 0;
  background-color: #716f6f; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .header__phone {
    margin-top: 0; }

.page-footer__copyright {
  margin-bottom: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff; }

.footer-phone__text {
  text-align: center;
  color: #ffffff; }

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: flex-start; }
    .footer .header__phone {
      margin-top: 20px; } }
